.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1024px;
}

.panels {
  display: flex;
  justify-content: space-between;
}

.date-panel {
  flex-basis: 18%;
}

.fixture-panel {
  flex-basis: 80%;
}

@media screen and (max-width: 780px) {
  .panels {
    flex-direction: column;
  }

  .date-panel {
    flex-basis: 100%;
  }

  .fixture-panel {
    flex-basis: 100%;
  }
}
